@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bokutachi";
  src: url("/fonts/bokutachi.otf") format("opentype");
}

@font-face {
  font-family: "buildingtracks";
  src: url("/fonts/Buildingsandundertherailwaytracksfree_ver.otf")
    format("opentype");
}

body {
  background-color: #d7dcd8;
}
